body {
  background-color: #ccfffe;
  color: #fff;
  font-family: "Ubuntu Mono", monospace;
}
.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  background-color: #23c5eb;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  margin-top:435px;
  color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.navbar {
  width: 100%;
}

.navbar img {
  max-width: 50px;
}

.nav-item {
  display: block;
  float: right;
}

.nav-item a {
  padding-left: 15px;
}

a, a:hover, a:active {
  color: #0ac4da;
}

.lead {
  color: #ff33cc;
}

.col-sm {
  margin: 3% 0;
  -webkit-transition: all ease-in-out 0.5s;
-moz-transition: all ease-in-out 0.5s;
transition: all ease-in-out 0.5s;

}

main {
  background-color: #23c5eb;
}

.art {
    min-height: 200px;
    min-width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.col-sm:hover .art {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #23c5eb;
  color: #fff;
}

footer p {
  margin-bottom: .25rem;
}

@media only screen and (max-width: 768px) {

    .jumbotron {
        margin-top: 275px;
    }

    .jumbotron-heading {
      font-size: 2.0rem;
    }

}

.kindness-wrap {
padding-bottom: 2rem;
}

.kindness-card {
border-radius: 18px;
padding: 1.75rem 2rem;
background: rgba(255, 255, 255, 0.95);
box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
color: #333;
}

.kindness-card h2 {
font-size: 1.15rem;
margin-bottom: 0.6rem;
text-transform: lowercase;
}

.kindness-card p {
margin-bottom: 0.6rem;
}

.kindness-actions {
margin: 0.4rem 0 0.6rem;
}

.kindness-actions span {
display: inline-block;
font-size: 0.85rem;
margin: 0 0.4rem 0.4rem 0;
padding: 0.3rem 0.6rem;
border-radius: 999px;
border: 1px dashed rgba(0, 0, 0, 0.2);
background: rgba(255, 255, 255, 0.9);
}
