
.cls-1 {
    fill: #be58d6;
}
.cls-1, .cls-11, .cls-12, .cls-13, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px;
}
.cls-2 {
    fill: #f72daa;
}
.cls-3 {
    fill: #eb2027;
}
.cls-4 {
    fill: #f16623;
}
.cls-5 {
    fill: #fbed21;
}
.cls-6 {
    fill: #24b566;
}
.cls-7 {
    fill: #14d6e0;
}
.cls-8 {
    fill: #00b3f9;
}
.cls-9 {
    fill: #b518d1;
}
.cls-10 {
    fill: #d996ea;
    opacity: 0.65;
}
.cls-11 {
    fill: #fff;
}
.cls-12 {
    fill: #ed4748;
}
.cls-14 {
    fill: #29abe2;
}
.cls-15 {
    fill: aqua;
    opacity: 0.31;
}
.cls-16 {
    fill: #F9D523;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
}
#sun {
    z-index: 100;
    position: absolute;
    top: -160px;
    left: -200px;
    width: 450px;
    animation: sun-rotate 2.5s infinite 3s;
}
@keyframes sun-rotate {
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#water {
    z-index: 90;
    position: absolute;
    top: 500px;
    left: 0px;
    width: 100%;
    max-height: 200px;
}
#water svg {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#narwhal {
    z-index: 200;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
}
@media only screen and (max-width: 768px) {
    #narwhal {
        width: 200px;
        margin-top: 30px;
        position: absolute;
        left: 350px;
    }

    #sun {
        width: 250px;
        position: absolute;
        top: -100px;
        left: -100px;
    }
    
    #water {
        position: absolute;
        top: 300px;
        left: 0px;
    }


}
#narwhal svg {
    animation: narwhal-bounce 2.5s ease-in-out infinite 2s;
}
@-webkit-keyframes narwhal-bounce {
    0% {
        transform: translate(0px, -15px);
    }
    50% {
        transform: translate(0px, -6px);
    }
    100% {
        transform: translate(0px, -15px);
    }
}