@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);

html {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
    background: #4c4c4c;
    font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    padding-top: 160px;
    width: auto !important;
    overflow-x: hidden !important;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
}

h1, h2, h3, h4, h5 {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
}

a {
    color: #ffffff;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

p a, #certifications li a {
  text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

li {
    line-height: 1.4em;
}

/* Header
------------------------- */

header {
    width: 100%;
    height: 160px;
    margin: 0px 0px;
    background: #ffffff;
}

.container.header {
    display: block;
    height: 160px;
}

header h1, header h3 {
    color: #4c4c4c;
    line-height: 35px;
    display: inline-block;
    float: left;
    clear: left;
    margin: 0px 0px;
}

header h1 {
}

header .name {
    float: left;
    padding: 50px 0px 25px 0px;
}

/* Nav
------------------------- */

.nav-collapse {
    clear: none !important;
}

.nav {
    background: #fff;
}

.nav li {
    padding-right: 20px;
}

.navbar-inner {
    float: right;
}

.nav li a {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 158px;
    padding: 0px !important;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-shadow: none !important;
}

.navbar-toggle {
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
    margin-right: 0px;
}

.icon-bar {
    border-color: #ffffff;
    background-color: #ffffff;
}

.navbar-inner {
    background: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-style: none !important;
    padding: 0px !important;
}

.nav li a:hover {
    color: #4c4c4c !important;
    text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.nav .about a {
    color: #EF3C59 !important;
}

.nav .skills a {
    color: #e67e22 !important;
}

.nav .experience a {
    color: #5ac34a !important;
}

.nav .certifications a {
    color: #26bacc !important;
}

.nav .work a {
    color: #a56ff8 !important;
}

.nav .talks a {
  color: #3469e0 !important;
}

.nav .education a {
    color: #e74c3c !important;
}

.nav .contact a {
    color: #e9187f !important;
}

.nav .lab a {
    color: #ce20ad !important;
}

/* Featurettes
------------------------- */
.featurette .container {
    padding: 20px;
}
.featurette h2 {
    background-color: #4c4c4c;
    color: #ffffff;
    padding: 15px;
    float: left;
    margin-right: 50px;
    display: block;
    letter-spacing: .05em;
}
.featurette .heading {
    width: 100%;
    float: left;
}
.featurette {
    width: 100%;
    clear: left;
    display: block;
    min-height: 250px; /* Vertically center images part 1: add padding above and below text. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #57bcce;
}

.featurette.intro {
}

.featurette.about {
    background: #EF3C59;
}

.featurette.skills {
    background: #e67e22;
}

.featurette.experience {
    background: #5ac34a;
}

.featurette.experience div.col-md-4 {
	float: left;
}

.featurette.experience .padding {
    background: #54b645;
    padding: 10px;
	float: left;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.featurette.certifications {
    background: #26bacc;
}

.certifications h4 {
    float: left;
    clear: left;
    margin: 30px 0px 10px 0px;
}

.featurette.work {
    background: #a56ff8;
}

.featurette.talks {
    background: #3469e0;
}

.featurette.education {
    background: #e74c3c;
}

.featurette.contact {
    background: #e9187f;
}

.featurette.lab {
  background: #ce20ad;
}

.intro .lead {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: .05em;
    padding: 50px 120px 30px 120px;
}

.lead {
    margin-top: 20px;
	  float: left;
    font-size: 14px;
}

.row .about a, .row .certifications a {
	text-decoration: underline;
	font-weight: 400;
}

.about p {
	font-size: 1.2em;
	line-height: 1.5em;
}

.about img {
	border: 6px solid #b72541;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	max-width: 100%;
	margin: 20px auto;
	display: block;
}

.lead ul {
    float: left;
    padding-top: 15px;
    clear: left;
}
.lead li {
    margin: 2px 0px 2px 20px;
    float: left;
}

.lead.col-md-7 {
    margin-top:30px;
}

.skills li, .experience li, .certifications li, .talks li {
	clear: left;
}

.lab img {
  position:relative;
  overflow:hidden;
  border-radius: 0px;
  border: 5px solid #fff;
  background: transparent;
  padding: 0px;
  width: 90%;
  margin-bottom: 15px;
}

#hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;
    border-radius: 0px;
    border: 5px solid #fff;
    background: transparent;
    padding: 0px;
}

.thumbnails li {
    list-style-type: none;
}

.infra li ul li {
    list-style-type: disc;
}

.caption {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 15px;
}

.caption p {
    font-size: .9em !important;
}

.caption p a {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.caption h4 {
    margin-top: 0px;
}

.submenu {
	clear: left;
	float: left;
	padding: 30px 10px;
}

.sub {
	float: left;
	margin-bottom: 40px;
}

.sub h3 {
	float: left;
	display: block;
	width: 100%;
	background: #8c61e0;
	padding: 8px;
	margin-bottom: 40px;
}

.sub ul li {
	clear: left;
	float: left;
}

.sub ul {
	width: 100%;
	padding: 20px 30px;
}

.infra ul {
  padding: 20px 0px;
}

.android img {
	max-width: 100%;
	border: 6px solid #8c61e0;
	margin: 20px auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.col-md-3.clear {
    clear: left;
    float: left;
}

.education .col-md-6 {
    margin-top: 40px;
}

.contact .col-md-8 {
    margin-top: 40px;
}

.contact .col-md-8 {
    margin-top: 40px;
}


/* Flat buttons
------------------------- */

.caption .btn {
    padding: 0px 12px;
}

.buttons {
  margin: 60px auto 50px auto;
  max-width: 600px;
  text-align: center;
  position: relative;
  clear: left;
}

.buttons .btn {
  min-width: 200px;
  position: relative;
  margin: 10px 10px 0px 10px;
  padding: 10px 15px;
  background-color: #26bacc;
  border-style: none;
  border-radius: 0px;
  text-decoration: none;
}

.buttons .btn i {
    padding: 0px 10px 0px 10px;
}

.buttons .btn:hover {
    background: #5ac34a;
    text-decoration: none !important;
}

/* Contact
------------------------- */

.contact i {
    min-width: 30px;
    margin: 8px 0px 8px 4px;
}

.contact p {
    clear: left;
    display: block;
}

.contact .lead a, .contact i {
    display: inline-block;
    float: left;
    text-decoration: none;
}

.contact .lead a {
    margin: 6px 0px 8px 4px;
}


/* Footer
------------------------- */

footer {
    background: #ffffff;
    width: 100%;
    padding: 20px;
    color: #4c4c4c;
}

footer a {
    color: #4c4c4c;
}

footer a:hover {
    color: #4c4c4c;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) {
/* Styles */

}

@media (max-width: 979px) {

    .name {
        padding-left: 20px !important;
    }

    .container.header {
        width: 100%;
    }

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }

    .nav li {
        padding-right: 50px;
        margin: 8px 10px;
    }

    .navbar-inner {
        display: inline-block;
        float: right;
        border-radius: 0;
    }

    .container.header, header {
        height: auto;
    }

    .nav li a {
        line-height: 40px !important;
    }

    .nav li a:hover {
        background: transparent !important;
    }

    .featurette {
        height: auto;
        padding: 0;
    }

    .featurette .lead, .featurette .lead p {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.5em;
    }

    .about img {
        max-width: 70%;
    }

}


@media (max-width: 767px) {

    .navbar-fixed-bottom, .navbar-fixed-top {
        position: static;
    }

   .navbar-fixed-top .navbar-collapse {
      max-height: none;
      overflow-x: auto;
   }

    .name h1 {
        font-size: 2.7em;
    }

    .container.header {
        width: 100%;
    }

    .name {
        padding-left: 0px !important;
    }

    .nav li a {
        line-height: 40px !important;

    }

    .nav li a:hover {
        background: transparent !important;
    }

    .nav {
        clear: right;
    }

    .navbar-inner {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
    }

    .about img {
        max-width: 70%;
	}

    .featurette-heading {
        font-size: 30px;
    }

    .featurette .lead, .featurette .lead p {
        font-size: 17px;
        line-height: 1.5em;
    }

    .intro .lead {
        margin-top: 0px !important;
        font-size: 22px;
        line-height: 1.3em;
        padding: 10px 0px;
    }

}

@media (max-width: 978px) {
    .container {
        padding:0;
        margin:0;
    }

    body {
        padding:0;
    }

    .featurette .lead, .featurette .lead p {
        font-size: 17px;
        line-height: 1.5em;
    }

    .intro .lead {
        margin-top: 0px !important;
        font-size: 22px;
        line-height: 1.3em;
        padding: 10px 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }

    .about img {
        max-width: 70%;
	}


}
